*, ::after, ::before {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.posts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    gap: 1em;
}

.post {
    text-align: justify;
}

.post__header {
    visibility: visible;
}

.post__title {
    background-color: #efdfff ;
    text-indent: 20px;
    text-transform: uppercase;
}

.post__body {
    padding: 8px 16px  ;
    text-indent: 20px;
}