.NotFoundPage {
    display: flex;
    flex-direction: column;
}

.Btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 25vh auto;
    background-color: #ffc8fa;
    box-shadow: 0 20px #4d2c6b;
    min-height: 150px;
    width: 80%;
    border-radius: 1em;
    font-size: 10vw;
    letter-spacing: 5px;
    cursor: pointer;
    user-select: none;
    transition: all 0.1s ease-in;
}

.Btn:active {
    transform: translateY(10px);
    box-shadow: 0 10px #4d2c6b;
}

.Btn:hover {
    background-color: #c281ff;
}

.Footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid rgb(145, 145, 145);
    text-align: center;
    padding: 15px 0;
    background-color: #f8f1ff;
}

.Footer__text {
    line-height: 1em;
    font-size: 16px;
}


p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}


